day06/__pycache__/Guard_class.cpython-312.pyc
.vscode/launch.json
day6_input_test
day06/test.py
day06/custom_lib.py
day06/__pycache__/custom_lib.cpython-312.pyc
day06/__pycache__/custom_lib.pypy39.pyc
day06/__pycache__/evan_day6.cpython-312.pyc
day06/correct_day6.py
day7_input_test
